**COUNT OF VOWELS AND CONSONENTS IN A STRING**

In [3]:
a=input()
v=0
c=0
for i in a:
  if(i=='i'or i=='a'or i=='e' or i=='o'or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    v=v+1
  else:
    c=c+1
print(v)
print(c)

KanakaMahaLakshmi
7
10

**CHECK WHETHER A CHARACTER IS ALPHABET OR NOT?**

In [15]:
ch=input()
if'a'<=ch<='z' or 'A'<=ch<='Z':
  print("alphabet")
else:
    print("not alphabet")

100
not alphabet

 **FIND ASCII VALUE OF THE CHARACTER**

In [19]:
a=input()
print(ord(a))

m
109

**FIND LENGTH OF THE STRING WITHOUT USING "STRLEN"**

In [20]:
s=input()
c=0
for i in s:
  c=c+1
print(c)

kml
3

**SORT AND SORTED**

In [21]:
a=[1,4,2,5,3]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [23]:
a=[1,4,5,3,2]
b=sorted(a)
print(b)

[1, 2, 3, 4, 5]